html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  background-color: #111;
  color: #eee;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  color: #e0af68;
}
a {
  color: #fff;
  text-decoration: underline;
}
.container {
  padding: 1.25rem;
  max-width: 1080px;
  margin: 0 auto;
}

.activity-link {
  margin: 0.5rem 0;
  font-weight: 600;
}
.intro {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
h2.year {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 1.25rem;
}
h2.year:first-of-type {
  margin: 0;
}

.back-link {
  margin-bottom: 0.75rem;
}
.race-name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.race-stats {
  margin: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.stat {
  font-size: 1.5rem;
}
.stat span {
  display: block;
}
.stat span:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: 600;
}
.map img {
  max-width: 100%;
}
