{{define "content"}}
<div class="intro">
    Hi there! I'm David. I'm a software developer and avid runner based in Queens, NYC.<br>
    Below you will find a list of running events that I have participated in.
</div>
{{- $year := 0 }}
{{- range .Activities }}
{{- if ne $year .RaceYear -}}
{{ $year = .RaceYear }}
<h2 class="year">{{$year}}</h2>
{{- end}}
<div class="activity-link"><a class="" href="/activity/{{.StravaId}}">{{.Name}}</a></div>
{{- else }}
<div>There are no race activities.</div>
{{- end}}
{{end}}
