{{define "content"}}
<div class="back-link"><a href="/">&larr; back to list</a></div>
<h1 class="race-name">{{.Name}}</h1>
<div class="race-date">{{.StartDate}}</div>
<div class="race-stats">
    <div class="stat">
        <span>Distance</span>
        <span>{{.Distance}}</span>
    </div>
    <div class="stat">
        <span>Pace</span>
        <span>{{.Pace}}</span>
    </div>
    <div class="stat">
        <span>Time</span>
        <span>{{.Time}}</span>
    </div>
</div>
{{- if .MapboxUrl }}
<div class="map">
  <img src={{.MapboxUrl}} />
</div>
{{- end }}
{{end}}
